<section class="wrapper">
    <div class="box">
        <img src="../../../../assets/img/slide/01.jpg" alt="Wilster">
        <div class="image-title">Wilstermann vs Aurora</div>
    </div>
    <div class="box">
        <img src="../../../../assets/img/slide/02.jpg" alt="Tomorrowland">
        <div class="image-title">Tomorrowland Music Festival 2023</div>
    </div>
    <div class="box">
        <img src="../../../../assets/img/slide/03.jpg" alt="Wrestlemania">
        <div class="image-title">Wrestlemania 2023</div>
    </div>
    <div class="box">
        <img src="../../../../assets/img/slide/04.jpg" alt="F1">
        <div class="image-title">F1 Grand Prix Australia</div>
    </div>
    <div class="box">
        <img src="../../../../assets/img/slide/05.jpg" alt="River">
        <div class="image-title">River Plate vs Boca Junior</div>
    </div>
    <div class="box">
        <img src="../../../../assets/img/slide/06.jpg" alt="Download">
        <div class="image-title">Download Music Festival 2023</div>
    </div>
</section>