<header>
    <div class="left-section">
        <img class="logo" src="/wwwroot/img/smallTruextend_logo.jpg" alt="Truextend logo">
        <nav class="categories">
            <ul>
                <li><a href="#">Music Events</a></li>
                <li><a href="#">Sport Events</a></li>
                <li><a href="#">Other Events</a></li>
            </ul>
        </nav>
    </div>
    <div class="tittle"><a href="#">Ticket Dispenser</a></div>
    <div class="right-section">
        <div class="search-box">
                <input class="search-txt" type="text" placeholder="Type something to search...">
                <a class="search-button" href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
        </div>
        <nav class="user">
            <ul>
                <li class="button sign"><a href="#">Sig In</a></li>
                <li class="button log"><a href="#">Log In</a></li>
                
            </ul>
        </nav>
    </div>
</header>