.footer {
    background-color: #595959;
    width: 100%;
    font-size: 20px;
    color: #eeeded;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 1em;
    margin-top: auto;
    text-align: center;
}
.contact-image {
    margin-left: 20%;
    max-width: 130px;
    padding-right: 20px;
}
.contact-text {
    margin-left: 20%;
    font-size: 25px;
    font-style: italic;
    color: #7a7a7a;
}
.social {
    text-align: center;
    padding: 10px 0 10px 0;
    margin-top: 0;
    width: 60%;
}
.social > li {
    display: inline-block;
    padding-right: 20px;
}
.social > li > .icon {
    max-width: 40px;
}
.social > li > .icon:hover:hover {
    color: #7a7a7a;
    cursor: pointer;
}