body {
    padding: 0;
    margin: 0;
    height: 100vh;
    justify-self: center;
    align-items: center;
}

.section {
margin: 0px;
padding: 10px;
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
}
.slider {
width: 800px;
height: 500px;
border-radius: 20px;
overflow: hidden;
}
.slides {
width: 500px;
height: 500px;
display: flex;
}
.slides input {
display: none;
}
.slide {
width: 20%; 
transition: 2s;
}
.slide img {
width: 800px;
height: 500px;
}
.nav-manual {
position: absolute;
width: 800px;
margin-top: -40px;
justify-content: center;
display: flex;
}
.manual-btn {
border: 2px solid  #014b5c;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}
.manual-btn:not(:last-child) {
margin-right: 40px;
}
.manual-btn:hover {
background-color: #014b5c;
}
#radio1:checked ~ .first {
margin-left: 0;
}
#radio2:checked ~ .first {
margin-left: -20%;
}
#radio3:checked ~ .first {
margin-left: -40%;
}
#radio4:checked ~ .first {
margin-left: -60%;
}
.nav-auto {
position: absolute;
display: flex;
width: 800px;
justify-content: center;
margin-top: 460px;
}
.nav-auto div {
border: 2px solid  #014b5c;
padding: 5px;
border-radius: 10px;
transition: 1s;
}
.nav-auto div:not(:last-child) {
margin-right: 40px;
justify-content: center;
}
#radio1:checked ~ .nav-auto .auto-btn1 {
background-color: #014b5c;
}
#radio2:checked ~ .nav-auto .auto-btn2 {
background-color: #014b5c;
}
#radio3:checked ~ .nav-auto .auto-btn3 {
background-color: #014b5c;
}
#radio4:checked ~ .nav-auto .auto-btn4 {
background-color: #014b5c;
}