.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    position: relative;
    overflow: hidden;
  }
  
  .grid-item img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
  }
  
  .grid-item:hover img {
    transform: scale(1.1);
  }