@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
a:hover{
  text-decoration: underline;
  color: #0088a5;
  cursor: pointer;
}
header {
  background-color: #24252A;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

.left-section {
  display: flex;
  align-items: center;

}

.left-section li {
  padding-left: 15px;
}

.logo {
  size: 15px;
}
.categories li {
  display: inline-block;
  
}

.tittle {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

button {
  padding: 7px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color:rgb(90, 90, 90);
}

.right-section {
  display: flex;
  align-items: center;
}
.user li{
  display: inline-block;
}
.search-box {
  padding: 10px 10px;
  background: rgba(54, 54, 54, 0.5);
  border-radius: 30px;
}
.search-box:hover > .search-txt {
  width: 200px;
  padding: 0px 6px;
}
.search-button {
  color: white;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;
}


.button {

  padding: 7px 15px;
  border: 3px rgba(0, 128, 128, 0.506);
  border-radius: 50px;

}
.button.sign {
  background-color: rgba(0, 128, 128,1);

}
.button.sign:hover {
  background-color: rgba(0, 128, 128,0.5);
}

.button.log {
  background-color: transparent;
  border: 1px solid rgb(0, 128, 128);

}
.button.log:hover {
  background-color: rgba(0, 128, 128, 0.5);
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  justify-self: center;
  align-items: center;
}

.section {
  margin: 0px;
  padding: 10px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 800px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}
.slides {
  width: 500px;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%; 
  transition: 2s;
}
.slide img {
  width: 800px;
  height: 500px;
}
.nav-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  justify-content: center;
  display: flex;
}
.manual-btn {
  border: 2px solid  #014b5c;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background-color: #014b5c;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
.nav-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}
.nav-auto div {
  border: 2px solid  #014b5c;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.nav-auto div:not(:last-child) {
  margin-right: 40px;
  justify-content: center;
}
#radio1:checked ~ .nav-auto .auto-btn1 {
  background-color: #014b5c;
}
#radio2:checked ~ .nav-auto .auto-btn2 {
  background-color: #014b5c;
}
#radio3:checked ~ .nav-auto .auto-btn3 {
  background-color: #014b5c;
}
#radio4:checked ~ .nav-auto .auto-btn4 {
  background-color: #014b5c;
}

.footer {
  background-color: #24252A;
  width: 100%;
  font-size: 20px;
  color: #eeeded;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  margin-top: auto;
  text-align: center;
}
.socials {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  transition: 0.3s;
}
.socials a i {
  font-size: 25px;
}
.socials a:hover i {
  color: #014b5c;
}